{{#each questions}}
    <div class="test-title test-title-edit">
        <form method="post">
            <input type="hidden" name="idTest" value="{{idTest}}">
            <textarea name="question">{{this.question}}</textarea>
            <input type="text" name="ansA" value="{{this.ansA}}">
            <input type="text" name="ansB" value="{{this.ansB}}">
            <input type="text" name="ansC" value="{{this.ansC}}">
            <input type="text" name="ansD" value="{{this.ansD}}">
            <span>
                <select name="correct">
                    <option value="a">Odpowiedź A</option>
                    <option value="b">Odpowiedź B</option>
                    <option value="c">Odpowiedź C</option>
                    <option value="d">Odpowiedź D</option>
                </select>
                <input type="text" <input type="text" name="ansD" value="{{this.points}}">
                <button formaction="/test/question/drop/{{this.id}}" type="submit" class="drop-btn">Usuń</button>
                <button formaction="/test/question/edit/{{this.id}}" type="submit" class="edit-btn">Edytuj</button>
            </span>
        </form>
    </div>
{{/each}}

<div class="test-title test-title-edit">
    <form method="post" action="/test/question/create">
        <input type="hidden" name="idTest" value="{{idTest}}">
        <textarea name="question" placeholder="Treść pytania"></textarea>
        <input type="text" name="ansA" placeholder="Odpowiedź A">
        <input type="text" name="ansB" placeholder="Odpowiedź B">
        <input type="text" name="ansC" placeholder="Odpowiedź C">
        <input type="text" name="ansD" placeholder="Odpowiedź D">
        <span>
            <select name="correct">
                <option value="a">Odpowiedź A</option>
                <option value="b">Odpowiedź B</option>
                <option value="c">Odpowiedź C</option>
                <option value="d">Odpowiedź D</option>
            </select>
            <input type="text" <input type="text" name="ansD" placeholder="Punkty">
            <input type="reset" value="Usuń" class="drop-btn">
            <input type="submit" value="Dodaj" class="access-btn">
        </span>
    </form>
</div>