{{#each questions.[0]}}
    <div class="test-title test-title-questions">
        {{this.question}}
        
        <label>
            <input type="checkbox" name="">
            {{this.ansA}}
        </label>
        <label>
            <input type="checkbox" name="">
            {{this.ansB}}
        </label>
        <label>
            <input type="checkbox" name="">
            {{this.ansC}}
        </label>
        <label>
            <input type="checkbox" name="">
            {{this.ansD}}
        </label>

        <input type="hidden" name="" value="{{this.id}}">
    </div>
{{/each}}